body{
	font-family: sans-serif;
}

ul{
	text-decoration: none;
	list-style: none;
}

.navbarShadow{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}


.row{
	align-items: center;
}

.dropdown-content{
	position: absolute;
	background-color: beige;
	display: block;
	left: 80%;
	top: 55px;
}

.roleList{
	text-align: start;
	
}

.roleList > li{
	padding: 5px 10px 5px 0;
}

.hidden{
	display: none;
}

.hamBurger{
	height: 40px;
	width: 40px;
}

.searchIcon{
	height: 30px;
	width: 30px;

}

.searchbarDiv{
	position: absolute;
	right: 20px;
	top: 5px;
}

.dropdownSidebar{
	position: absolute;
	background-color: white;
	display: block;
	left: 0;
	top: 0;
	height: 100vh;
	width: 60%;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.4);
}

.searchBar{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border:0.3px solid rgb(227, 227, 227);
	padding: 20px 15px;
	position: relative;
}