.card-img-top{
    height: 35vh;
  }
  
  .container {
    position: relative;
  }
  
  .course-card {
    transition: transform 0.3s;
  }
  
  .course-card:hover {
    transform: scale(1.1);
  }
  
  .whySmalllCard{

  }

  .mainSmallCard{
    display: flex;
    background-color: white;
    box-shadow: 4px 4px 4px 4px rgba(159, 159, 159, 0.2);
    padding: 10px;
    border-radius: 5px;
  }

  .mainSmallCardIcon{
    height: 70px;
    width: 70px;
  }